html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.layout {
    width: 100%;
    height: 100%;
    background: #cccccc;
    
    .superview {
        background: #ffffff;
    }
    
    .view {
        outline: rgba(100, 205, 255, 0.25) 1px solid;
        outline-offset: 5px;
    }
    
    .view, textarea {
        font-family: 'Menlo', monospace;
        font-size: 11px;
    }
}

.view[data-selected] {
    outline: rgba(100, 205, 255, 1) 1px solid !important;
    outline-offset: 5px;
}